language: node_js
node_js:
  - "9"
sudo: false

branches:
  only:
  - master


deploy:
  provider: heroku
  skip_cleanup: true
  keep-history: true
  api-key:
    secure: lavkUH72rNYjEy3Id8r7PnCWAfXXvHZsVpaMyuSk+rtPW8iHRBJaYWHUKvjyU7N/hYbktiGNgq7Pprpz5P5MSLt6zaGjsNA3d3XpSMnyQQY5+QwHBanMU2WShOTanyg6A//PjElSc0H+xk2uveG8DARXXuW7mYur9B8VesdXxllBGcvPsr/qeW3rYk+9NJLHK00v11fHLBfHNq5AKd2y/efIIseUFpZEJoVbgxGHJtWA84seQvYkv9D0b/in1YdI6uaWqnvZmssW67qCLxrOOXdchCRetRwL45bpwSwykO/nvuFED64lCKjpgockoBTSdfDi4GrXu3yJ0H8GXTBCULOg8XnDYVXYNr8/dP+bNR6ieU4IFCGfrXMl3GhjMzlJssO5y0nrHlv8Opusp9etn18+qFIm37dLA6Hbh0lINgJmeJVCY9+tQ6+wR2s34VlZLoPC31XeYIVy+eHZ53ubkFM35hnjX9nmIeHp6vlpNvAw82gGVuaQFaQxrgpfL5Axg+Nnt5uioOyx7hFep8207mXhtV8tRamZaL1UvRrmGF0mEC727Gc5yy8m3T5zcLgq1lfyHNS4z+nXnf64Av99qYc31GUPy/8voxQ/7fkmzh9NMm595g/DE+wVDXwGGRqc0nFQJOB/2oVFFEIoBlAdtrba3hCgnvh9o0Hn1w84Ad4=
  app: game-store-redux